.tabs{
    display: flex;
    flex-direction: column;
    gap: 6px;
    --active-color: #becd;
}

.tabs-list {
    display: flex;
    gap: 6px;
}

.tabs-list-item {
    padding: 10px;
    cursor: pointer;
}

.tabs-list-item:hover {

}
.tabs-list-item--active {
    background-color: var(--active-color);
    border-color: var(--active-color);
}